@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@1,700&family=Karla:wght@400;700&family=Orelega+One&family=Overpass:wght@300;600&family=PT+Sans+Narrow:wght@700&family=Public+Sans:wght@300;400;700&family=Red+Hat+Display:ital,wght@0,400;0,595;1,500&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    --lightRed: hsl(356,100%,66%);
    --veryLightRed: hsl(355,100%,74%);
    --veryDarkBlue: hsl(208,49%,24%);
    --white: hsl(0,0%,100%);
    --grayishBlue: hsl(240,2%,79%);
    --veryDarkGrayishBlue: hsl(207, 13%, 34%);
    --veryDarkBlackBlue: hsl(240, 10%, 16%);
    --veryLightRedGradient: hsl(13, 100%, 72%);
    --lightRedGradient: hsl(353, 100%, 62%);
    --veryDarkGrayBlue: hsl(237, 17%, 21%);
    --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: public sans;
    font-size: 18px;
}

.btn{
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 1em;
}


.button:hover{
    background-color: var(--white);
    color: var(--veryLightRed) !important;
    font-weight: bolder !important;
    }
    
header{
    color: var(--white);
        }

.navbar ul li{
    font-size: 12px;
            }


.img-fluid{
    background-image: url(/images/bg-intro-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


footer{
    background-color: var(--veryDarkBlackBlue);
    border-top-right-radius: 5rem;
            }
               
    
    @media screen and (max-width:500px) {
    .img-fluid{
        background-image: url(/images/bg-intro-mobile.svg);
    }
    }


    
